@import 'uikit';

.pagesection {
	margin-bottom: uikit-space( 3 );
}

main + footer {
	margin-top: uikit-space( 3 );
}

.uikit-header {
	margin-bottom: uikit-space( 3 );
}

.uikit-header-subline {
	display: block;
	max-width: 27em;
}

.content-box {
	margin-bottom: uikit-space( 1 );
}


.card {
	display: block;
	border-radius: $uikit-border-radius;
	border: $uikit-borderize;
	background-color: $uikit-colour-Background;
	margin-bottom: uikit-space( 2 );

	&:hover .uikit-cta-link {
		&:after {
			margin: 0 uikit-space( 0.1 ) 0 uikit-space( 0.4 );
		}
	}

	.card__top {
		display: block;
		padding: uikit-space( 0.5 );
	}

	.uikit-cta-link {
		display: block;
		background-color: #fff;
		margin-bottom: 0;
		padding: uikit-space( 0.5 );
		border-bottom-right-radius: $uikit-border-radius;
		border-bottom-left-radius: $uikit-border-radius;
	}
}

.footerlogo{
	height: 80px;
}

.logo{
	height: 80px;
	top: 30px;
	padding-right: 10px;
	position: relative;
}


.heroline{
	padding-bottom: 20px;
}

.badge {
    background-color: $uikit-colour-Info;
    border-radius: 12px;
    padding: 0.4em 0.8em;
    margin-left: 10px;
    position: relative;
    top: -4px;
    letter-spacing: 1px;
    color: white;
    font-size: 0.6rem;
}
